<div class="container container-min-height">
  <div class="card-results d-flex justify-content-center align-items-center align-content-around flex-column">
    <% if @sessions.count == 0 %>
      <h2> Aucun résultat trouvé </h2>
      <%= link_to "retour", root_path, class: "btn btn-primary" %>
    <% else %>
      <h2>  <%= @sessions.count %> résultat(s) trouvé(s) </h2>
    <% end %>
  </div>



<% @sessions.each do |session| %>
    <%= link_to session_path(session.bar_id) do %>
      <div class="card-sessions">
        <div class="card-sessions-infos">

          <h2>
              <%= session.bar.name %>
          </h2>
          <h3>
              <%= session.category %>
          </h3>
          <p>
              <%= session.description %>
          </p>
          </div>
      </div>
    <% end %>
  <% end %>



<div
  id="map"
  style="width: 100%;
  height: 400px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
