<div class="d-flex flex-column">
  <div class="search_playlist" id="navbar_playlist">
    <div class="nav_search_bar">
      <%= link_to session_playlists_path(session[:session_id]) do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
      <h3>SELECTION</h3>
      <i class="fas fa-bars"></i>
    </div>
    <%= simple_form_for :song, url: new_session_my_playlist_path(@playlist.session_id), method: :get do %>
      <div id="accordion_search_bar_container">
        <input type="search"
          name="search[query]"
          id="accordion_search_bar"
          placeholder="Search"/>
      </div>
    <% end %>
  </div>

  <div id="myplaylist" style="display: none">
    <div class="hearder-playlist-card">
      <div class="d-flex justify-content-center">
          <h3>My playlist</h3>
      </div>
    </div>
  </div>



  <div class="topcard">
    <div class="hearder-playlist-card">
      <div class="d-flex justify-content-center">
        <h3>TOP titre</h3>
      </div>
    </div>

   <div class="playlist container-playlist-card" id="top-playlist">
    <% @songs_var = @songs['data'] == nil ? @songs['tracks']['data'] : @songs['data'] %>
      <% i = 1 %>
      <% @songs_var.each do |song| %>
        <% if i==1 %>
          <div class="playlist-list-first d-flex justify-content-between">
            <div class="d-flex text-left">
              <span class="mr-3 mt-3"><%= i %> •</span>
              <%= image_tag song["album"]["cover_small"], alt: "alttext" %>
              <span class="ml-3">
                <h5>
                  <%= song["artist"]["name"] %>
                </h5>
                <p>
                  <%= song["title"] %>
                </p>
              </span>
            </div>
            <div class="d-flex flex-column">
              <span class="text-center"><i class="fas fa-plus"></i></span>
            </div>
          </div>
            <% i += 1 %>
          <% else %>
            <div class="playlist-list d-flex justify-content-between">
              <div class="d-flex">
                <span class="mr-3 mt-3"><%= i %> •</span>
                <%= image_tag song["album"]["cover_small"], alt: "alttext" %>
                <span class="ml-3">
                  <h5>
                    <%= song["artist"]["name"] %>
                  </h5>
                  <p>
                    <%= song["title"] %>
                  </p>
                </span>
              </div>
              <div class="d-flex flex-column">
                <span class="text-center"><i class="fas fa-plus"></i></span>
              </div>
            </div>
            <% i += 1 %>
          <% end %>
        <% end %>
      </div>
  </div>

</div>




