<!-- <script>   let playlists = document.querySelectorAll(".children") </script> -->
<div class="d-flex flex-column">
  <div class="search_playlist" id="navbar_playlist">
    <div class="nav_search_bar">
      <%= link_to session_playlists_path(@playlist.session.id) do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
      <h3>Sélection <%= @playlist.session.bar.name %></h3>
      <i class="fas fa-bars" style="font-size: 35px;"></i>
    </div>
    <%= simple_form_for :song, url: new_session_my_playlist_path(@playlist.session_id), method: :get do %>
      <div id="accordion_search_bar_container">
        <input type="search"
          name="search[query]"
          id="accordion_search_bar"
          placeholder="Themes, artistes, titres..."/>
      </div>
    <% end %>
  </div>

  <div id="myplaylist">
    <% if !@mysongs.nil? %>
      <div class="hearder-playlist-card">
        <div class="d-flex justify-content-center pt-3">
            <h3>Ma Playlist</h3>
        </div>
      </div>
      <div class='playlist container-playlist-card' id='first-card'>
        <% @mysongs.each do |song| %>
          <%= link_to my_playlist_path(@playlist.id, song: {title: song.title,  artist: song.artist, album: song.album, duration: song.duration, deezer_id: song.deezer_id, photo_album: song.photo_album, photo_album: song.photo_artist, photo_large: song.photo_large,  preview: song.preview }, session_id: params[:session_id]), method: :delete, remote: true do  %>
            <div class="playlist-list d-flex justify-content-between children-destroy">
              <div class="d-flex text-left align-items-center">
                <span class="mr-3 mt-3"> •</span>
                <%= image_tag song.photo_album, alt: "alttext", width:114, height:114 %>
                <span class="ml-3 ellipsis">
                  <h3>
                    <%= song.artist %>
                  </h3>
                  <h4>
                    <%= song.album %>
                  </h4>
                  <h5>
                    <%= song.title %>
                  </h5>
                </span>
              </div>
              <div class="d-flex align-items-center pr-4">
                <span class="text-center"><i class="fas fa-check icon-medium"></i></span>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <div class="hearder-playlist-card">
        <div class="user-info d-flex justify-content-center pt-3">
            <h3>MA SELECTION</h3>
        </div>
      </div>
      <div class='playlist container-playlist-card' id='first-card'>
      </div>
    <% end %>
  </div>

  <div class="topcard">
    <div class="playlist container-playlist-card" id="top-playlist" >
      <% @songs_var = @songs['data'] == nil ? @songs['tracks']['data'] : @songs['data'] %>
      <% i = 1 %>
      <% @songs_var.map do |song| %>
        <% if (i==1) && !(@mysongs.map { |s| s.title }.include?(song["title"])) && !(@mysongs.map { |s| s.artist }.include?(song["artist"]["name"])) %>
          <%= link_to session_my_playlists_path(params[:session_id], song: {title: song["title"],  artist: song["artist"]["name"], album: song["album"]["title"], duration: song["duration"], deezer_id: song["id"], photo_album: song["album"]["cover_small"], photo_album: song["artist"]["picture_small"], photo_large: song["album"]["cover_big"],  preview: song["preview"] }), method: :post, remote: true do  %>
            <div class="playlist-list-first d-flex justify-content-between children">
              <div class="d-flex text-left align-items-center">
                <span class="mr-3 mt-3"> •</span>
                <%= image_tag song["album"]["cover_small"], alt: "alttext", width:114, height:114 %>
                <span class="ml-3 ellipsis">
                  <h3>
                    <%= song["artist"]["name"] %>
                  </h3>
                  <h4>
                    <%= song["album"]["title"] %>
                  </h4>
                  <h5>
                    <%= song["title"] %>
                  </h5>
                </span>
              </div>
              <div class="d-flex align-items-center pr-4">
                <span class="text-center"><i class="fas fa-plus icon-medium"></i></span>
              </div>
            </div>
          <% end %>
          <% i += 1 %>
        <% elsif !@mysongs.map { |s| s.title }.include?(song["title"]) && !@mysongs.map { |s| s.artist }.include?(song["artist"]["name"]) %>
          <%= link_to session_my_playlists_path(params[:session_id], song: {title: song["title"],  artist: song["artist"]["name"], album: song["album"]["title"], duration: song["duration"], deezer_id: song["id"], photo_album: song["album"]["cover_small"], photo_album: song["artist"]["picture_small"], photo_large: song["album"]["cover_big"],  preview: song["preview"] }), method: :post, remote: true do  %>
            <div class="playlist-list d-flex justify-content-between children">
              <div class="d-flex text-left align-items-center">
                <span class="mr-3 mt-3"> •</span>
                <%= image_tag song["album"]["cover_small"], alt: "alttext", width:114, height:114 %>
                <span class="ml-3 ellipsis">
                  <h3>
                    <%= song["artist"]["name"] %>
                  </h3>
                  <h4>
                    <%= song["album"]["title"] %>
                  </h4>
                  <h5>
                    <%= song["title"] %>
                  </h5>
                </span>
              </div>
              <div class="d-flex align-items-center pr-4">
                <span class="text-center"><i class="fas fa-plus icon-medium"></i></span>
              </div>
            </div>
          <% end %>
          <% i += 1 %>
        <% end %>
      <% end %>
    </div>
  <div class="d-flex justify-content-center mb-5">
    <%= link_to "valider", my_playlist_path(current_user.playlists.find_by(session_id: params[:session_id]).id), class: "button button-1"  %>
  </div>




