<div class="container-playlist-card">
  <div class="header-playlist">
    <div class="nav_search_bar d-flex justify-content-between">
      <%= link_to session_playlists_path(@playlist.session_id) do  %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
      <i class="fas fa-bars" style="font-size: 35px;"></i>
    </div>
    <div class="d-flex justify-content-between align-items-center p-3">

      <div class="text-center playlist-titles">
        <h2 class="mt-4"><%= @playlists.first.songs[0].artist %></h2>
        <h4><%= @playlists.first.songs[0].title %></h4>
        <h5><%= @playlists.first.songs[0].album %></h5>

      </div>
      <div>
        <%= image_tag @playlists.first.songs[0].photo_large, width: 250, height: 250 %>
      </div>
      <div class="d-flex align-items-center justify-content-around w-25">
         <% if @playlist.session.category == "Latino"%>
          <div  class="avatar-thema-med moncercle-orange"></div>
          <% elsif @playlist.session.category == "pop"%>
          <div  class="avatar-thema-med moncercle-noir"></div>
          <% elsif @playlist.session.category == "RnB"%>
          <div  class="avatar-thema-med moncercle-cyan"></div>
          <% elsif @playlist.session.category == "Electro"%>
          <div  class="avatar-thema-med moncercle-vert"></div>
          <% elsif @playlist.session.category == "Année 80"%>
          <div  class="avatar-thema-med moncercle-marron"></div>
          <% elsif @playlist.session.category == "rap"%>
          <div  class="avatar-thema-med moncercle-magenta"></div>
          <% elsif @playlist.session.category == "Jazz"%>
          <div  class="avatar-thema-med moncercle-blue"></div>
          <% elsif @playlist.session.category == "Rock"%>
          <div  class="avatar-thema-med moncercle-vert"></div>
          <% else %>
          <div></div>
          <% end %>

        <div class="text-center align-items-center">
          <% if !@playlists.first.songs[0].likes.empty? && @playlists.first.songs[0].likes.find_by(user_id: current_user.id, song_id: @playlists.first.songs[0].id) && @playlists.first.songs[0].likes.find_by(user_id: current_user.id, song_id: @playlists.first.songs[0].id).status == true %>
            <%= link_to playlist_path(@playlists.first.id, like: false, song: @playlists.first.songs[0].id), class: "text-center", method: :patch, remote: true do %>
              <i class="fas fa-heart icon-large" style="color: #BA1B1D;"></i>
            <% end %>
          <% else %>
            <%= link_to playlist_path(@playlists.first.id, like: true, song: @playlists.first.songs[0].id), class: "text-center", method: :patch, remote: true do %>
              <i class="far fa-heart icon-large" style="color: white"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
     <div class="w-100">
      <svg viewBox="0 0 100 5" xmlns="http://www.w3.org/2000/svg" id="top-waves">
        <% i = 0 %>
        <% 320.times do %>
          <rect x=<%= i %> y="0" width="0.1" height=<%= (1..5).to_a.sample %> rx="4" ry="4" fill="white" class=<%="wave-#{(1..5).to_a.sample}"%>  transform="translate(95.7,05) rotate(180)"></rect>
          <% i += 0.3 %>
        <% end %>
      </svg>
      <hr color="white" width="747">
      <svg viewBox="0 0 100 5" xmlns="http://www.w3.org/2000/svg" id="bottom-waves">
        <% i = 0 %>
        <% 320.times do %>
          <rect x=<%= i %> y="0" width="0.1" height=<%= (1..5).to_a.sample %> rx="4" ry="4" fill="white" class=<%= "wave-#{(1..5).to_a.sample}" %>></rect>
          <% i += 0.3 %>
        <% end %>
      </svg>
    </div>
  </div>
  <div class="hearder-playlist-card">
    <div class="user-info d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center pt-3">
        <img src=<%= current_user.photo %> alt= playlist.user.username class="avatar-playlist-card">
        <h4 class="ml-3"><%= @playlist.user.username %></h4>
      </div>
      <div class="text-right pt-4">
        <p>
          <% sum = 0 %>
          <% @playlist.songs.each do |song| %>
            <% sum += song.duration %>
          <% end %>
          <%= Time.at(sum).utc.strftime("%M:%S") %>
        </p>
      </div>
    </div>
  </div>
  <div class="playlist">
    <% sum = 0 %>
    <% i = 1 %>
    <% @playlist.songs.each do |song| %>
      <% sum += song.duration %>
      <% if i==1 %>
        <div class="playlist-list-first d-flex justify-content-between" data-song-id="<%= song.id %>" data-song-title="<%= song.title %>" data-song-artist="<%= song.artist %>" data-song-album="<%= song.album %>" data-song-category="<%= song.category %>" data-song-duration="<%= song.duration %>" data-song-deezer-id="<%= song.deezer_id %>" data-song-composer="<%= song.composer %>" data-remote="true">
          <div class="d-flex font-height-shrink align-items-center">
            <span class="mr-3 mt-3"> •</span>
            <%= image_tag song.photo_album, alt: song.album, width:114, height:114 %>
            <span class="ml-3 black-color">
              <h3>
                <%= song.artist %>
              </h3>
              <h4>
                <%= song.album %>
              </h4>
              <h5 class="black-color">
                <%= song.title %>
              </h5>
            </span>
          </div>
          <div class="duration-heart d-flex flex-column justify-content-center pr-4">
            <span class="my-1">-<%= Time.at(song.duration).utc.strftime("%M:%S")  %></span>
              <% if !song.likes.empty? && song.likes.find_by(user_id: current_user.id, song_id: song.id) && song.likes.find_by(user_id: current_user.id, song_id: song.id).status == true %>
                <%= link_to playlist_path(@playlist.id, like: false, song: song.id), class: "text-center", method: :patch, remote: true do %>
                  <i class="fas fa-heart" style="color: rgb(186, 27, 29);"></i>
                <% end %>
              <% else %>
                <%= link_to playlist_path(@playlist.id, like: true, song: song.id), class: "text-center", method: :patch, remote: true do %>
                  <i class="far fa-heart" style="color: #262525;"></i>
                <% end %>
              <% end %>
          </div>
        </div>
        <% i += 1 %>
      <% else %>
        <div class="playlist-list d-flex justify-content-between" data-song-id="<%= song.id %>" data-song-title="<%= song.title %>" data-song-artist="<%= song.artist %>" data-song-album="<%= song.album %>" data-song-category="<%= song.category %>" data-song-duration="<%= song.duration %>" data-song-deezer-id="<%= song.deezer_id %>" data-song-composer="<%= song.composer %>" data-remote="true">
          <div class="d-flex font-height-shrink align-items-center">
            <span class="mr-3 mt-3"> •</span>
            <%= image_tag song.photo_album, alt: song.album, width:114, height:114 %>
            <span class="ml-3 black-color">
              <h3>
                <%= song.artist %>
              </h3>
              <h4>
                <%= song.album %>
              </h4>
              <h5 class="black-color">
                <%= song.title %>
              </h5>
            </span>
          </div>
          <div class="duration-heart d-flex flex-column justify-content-center pr-4">
            <span class="my-1">-<%= Time.at(song.duration).utc.strftime("%M:%S")  %></span>
              <% if !song.likes.empty? && song.likes.find_by(user_id: current_user.id, song_id: song.id) && song.likes.find_by(user_id: current_user.id, song_id: song.id).status == true %>
                <%= link_to playlist_path(@playlist.id, like: false, song: song.id), class: "text-center", method: :patch, remote: true do %>
                  <i class="fas fa-heart" style="color: rgb(186, 27, 29);"></i>
                <% end %>
              <% else %>
                <%= link_to playlist_path(@playlist.id, like: true, song: song.id), class: "text-center", method: :patch, remote: true do %>
                  <i class="far fa-heart" style="color: #262525;"></i>
                <% end %>
              <% end %>
          </div>
        </div>
        <% i += 1 %>
      <% end %>
    <% end %>
  </div>
  <div class="d-flex justify-content-center my-2">
    <div class="wrap">
      <a href="#openModal01" class="button button-1">Valider</a> <br />
      <div id="openModal01" class="modalDialog">
        <div class="popWrap">
          <h2 class="popTit">Félicitation ! </h2>
          <div class="popCont">
            <p>Votre playlist est à la <%= @playlist.session.playlists.count %></p>
          </div>
          <div class="d-flex justify-content-center">
            <%= link_to "valider", session_playlists_path(@playlist.session_id), class: "button button-1"  %>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
