<div class="container-playlist-card">
  <div class="header-playlist">
    <div class="nav_search_bar">
      <%= link_to session_path(@playlists.first.session_id) do  %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
      <i class="fas fa-bars"></i>
    </div>
    <div class="d-flex justify-content-between p-3">
      <div class="text-center">
        <h4 class="mt-4"><%= @playlists.first.songs.last.artist %></h4>
        <p><%= @playlists.first.songs.last.title %></p>
        <h6><%= @playlists.first.songs.last.album %></h5>
      </div>
      <div>
        <%= image_tag @playlists.first.songs.last.photo_large, width: 150, height: 150 %>
      </div>
      <div class="d-flex flex-column justify-content-around">
        <div class="avatar-thema-medium"></div>
        <div class="text-center"><i class="far fa-heart icon-large"></i></div>
      </div>
    </div>
     <div class="w-100">
      <svg viewBox="0 0 100 5" xmlns="http://www.w3.org/2000/svg" id="top-waves">
        <% i = 0 %>
        <% 350.times do %>
          <rect x=<%= i %> y="0" width="0.1" height=<%= (1..5).to_a.sample %> rx="4" ry="4" fill="white" class=<%="wave-#{(1..5).to_a.sample}"%>  transform="translate(100,05) rotate(180)"></rect>
          <% i += 0.3 %>
        <% end %>
      </svg>
    </div>
    <hr color="white">
      <svg viewBox="0 0 100 5" xmlns="http://www.w3.org/2000/svg" id="bottom-waves">
        <% i = 0 %>
        <% 350.times do %>
          <rect x=<%= i %> y="0" width="0.1" height=<%= (1..5).to_a.sample %> rx="4" ry="4" fill="white" class=<%= "wave-#{(1..5).to_a.sample}" %>></rect>
          <% i += 0.3 %>
        <% end %>
      </svg>
  </div>

  <% n = 1 %>
  <% @playlists.each do |playlist| %>
    <div class="hearder-playlist-card">
      <div class="d-flex justify-content-between">
        <div class="d-flex">
          <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/s960x960/47689225_10218747533618335_6207042897448009728_o.jpg?_nc_cat=109&_nc_ohc=FoQmIqCNeWMAQlSbe-2QlhWxL1vfCFVZgtr_-pgOUQQYVOlL5zz712xBw&_nc_ht=scontent-cdg2-1.xx&oh=8f14f8adb4b971a8348536fab2536273&oe=5E7F51FA" alt="" class="avatar-playlist-card">
          <h4 class="ml-3"><%= playlist.user.username %></h4>
        </div>
        <div class="text-right">
          <h5>Position <%= n %></h5>
          <p>
            <% sum = 0 %>
            <% playlist.songs.each do |song| %>
              <% sum += song.duration %>
            <% end %>
            <%= Time.at(sum).utc.strftime("%M:%S") %>
          </p>
        </div>
      </div>
    </div>
    <div class="playlist">
      <% i = 1 %>
      <% playlist.songs.each do |song| %>
        <% if i==1 %>
          <div class="playlist-list-first d-flex justify-content-between">
            <div class="d-flex font-height-shrink">
              <span class="mr-3 mt-3"><%= i %> •</span>
              <%= image_tag song.photo_album, alt: "alttext" %>
              <span class="ml-3 black-color">
                <h5>
                  <%= song.artist %>
                </h5>
                <p class="black-color">
                  <%= song.title %>
                </p>
              </span>
            </div>
            <div class="d-flex flex-column">
              <span class="my-1">-<%= Time.at(song.duration).utc.strftime("%M:%S")  %></span>
              <span class="text-center"><i class="far fa-heart"></i></span>
            </div>
          </div>
          <% i += 1 %>
        <% else %>
          <div class="playlist-list d-flex justify-content-between">
            <div class="d-flex font-height-shrink">
              <span class="mr-3 mt-3"><%= i %> •</span>
              <%= image_tag song.photo_album, alt: "alttext" %>
              <span class="ml-3 black-color">
                <h5>
                  <%= song.artist %>
                </h5>
                <p class="black-color">
                  <%= song.title %>
                </p>
              </span>
            </div>
            <div class="d-flex flex-column">
              <span class="my-1">-<%= Time.at(song.duration).utc.strftime("%M:%S")  %></span>
              <span class="text-center"><i class="far fa-heart"></i></span>
            </div>
          </div>
          <% i += 1 %>
        <% end %>
      <% end %>
    </div>
    <% n += 1 %>
  <% end %>
  <div class="d-flex justify-content-center">
    <%= link_to "DJ", new_session_my_playlist_path(@playlists.first.session_id), class: "button button-DJ text-center"  %>
  </div>
</div>


